/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '../node_modules/font-awesome/css/font-awesome.min.css';
.login-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .login-full-width {
    width: 100%;
  }
  .example-form {
    min-width: 500px;
    max-width: 1080px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
